<!DOCTYPE html>
<html>
<head>
  <style>
      span {
        color: red;
        font-size: 20px;
      }
    </style>
</head>
<body>
  <h2>折扣信息详情</h2>
  <h3>首次购买： <span>原价</span></h3>
  <h3>第2次购买：<span>10%</span></h3>
  <h3>第3次购买：<span>20%</span></h3>
  <h3>第4次购买：<span>30%</span></h3>
  <h3>第5次购买：<span>40%</span></h3>
  <h3>第6次及以上购买：<span>50%</span></h3>
  <h3><span>请注意：一次订购多个产品的场合，订购成功画面显示的是累计后的值</span></h3>
</body>
</html>

